{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/about.css') }}" />
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            {#<div class="left">
                <button class="borderless-button">
                    <img src={{ asset('images/user_icon.png') }} alt="User" width="35" height="35">
                    <span class="user-name">username</span>
                </button>
                <hr class="boundary">
                <button class="borderless-button">My Schedule</button>
                <form action="{{ path('course') }}" method="get">
                    <button class="borderless-button">Courses</button>
                </form>
                <form action="{{ path('settings') }}" method="get">
                    <button class="borderless-button">Settings</button>
                </form>
                <form action="{{ path('about') }}" method="get">
                    <button class="borderless-button">About</button>
                </form>

            </div>

            <div class="middle">#}
                <div>
                    <h1>
                        About us
                    </h1>
                    <h4>
                        We at StudentBridges stand for unity.
                        <br>
                        Just like bridges help us unite.
                    </h4>
                </div>

                <div>
                    <p>
                    As a team of 5 soon to be engineers we walked around Leuven
                    and found the amount of bridges fascinating.
                    We took on our brave journey through a rainy morning in Leuven by walking around
                    and brainstorming on the concept of a bridge. That is when it dawned upon us that we could
                    be building digital bridges as well. We are further implementing this idea by uniting
                    students through our student communications platform. Students can enroll in courses
                    and directly communicate with one another. Below you can accompany us on our journey.
                    </p>
                </div>
                <div>
                    <img src="{{asset('images/Dijlepark.jpg') }}" width ="608" height ="456" alt="Dijlepark">
                    <h3>
                        Bridge at Dijlepark
                    </h3>
                    <br>

                    <img src="{{asset('images/Janseniusspeelplein.jpg') }}" width ="608" height ="456" alt="Janseniusspeelplein">
                    <h3>
                        Bridge at Janseniusspeelplein
                    </h3>
                    <br>

                    <img src="{{asset('images/KioskStadspark.jpg') }}" width ="456" height ="608" alt="Stadspark">
                    <h3>
                        Globe at kiosk in Stadspark
                    </h3>
                </div>

                {# <div>
                </div>

            </div> #}
        </div>
    </main>
{% endblock %}